<div class="container-fluid px-0">
    <div id="mainCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for img in site.data.main_carousel %}
                <div class="carousel-item vh-100 {% if forloop.first %} active {% endif %}"
                style="background-image: url('assets/img/carousel/{{ img.filename }}')">
                    <div class="carousel-caption px-4 px-lg-5 py-4">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-4">
                                <small>Client</small>
                                <p class="text-body font-weight-bold section-content">{{ img.caption.client }}</p>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4">
                                <small>Scope</small>
                                <ul class="list-unstyled font-weight-bold mb-0">
                                    {% for scope in img.caption.scope %}
                                        <li>{{ scope }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>
</div>