<div class="overlay h3 text-light">
    <div class="container-fluid px-sm-4 px-lg-5">
        <div id="overlayCarousel" class="carousel slide carousel-fade vh-100" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators my-4 my-xl-5">
                <li data-target="#overlayCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#overlayCarousel" data-slide-to="1"></li>
              </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-6 px-lg-5 mb-5">
                            <p class="mb-5">
                                We're inspired by branding and designs that go beyond appearance,
                                that tell a story, that make people feel something.
                                It is this emotional connection that creates the powerful bond
                                between brands and their audiences. And it's what we set out to define
                                and bring to life with every project we work on.
                            </p>
                            <p class="mb-5">
                                Every brand has a story to tell. We're proud to express that for our clients
                                through ideas-driven narrative, creativity, and craftsmanship.
                            </p>
                            <h4 class="text-uppercase mb-3">Contact Us</h4>
                            <p><a class="text-decoration-none text-light contact-email-address"
                                href="mailto:{{ site.contact_email_address }}">{{ site.contact_email_address }}</a></p>
                        </div>
                        <div class="col-lg-6 px-lg-5 mb-5">
                            <h4 class="text-uppercase mb-3">Our Services</h4>
                            <ul class="list-unstyled services-list">
                                <li>Brand Identity</li>
                                <li>Brand Strategy</li>
                                <li>Name Generation</li>
                                <li>Art Direction</li>
                                <li>Digital Design &amp; Development</li>
                                <li>Content Strategy</li>
                                <li>Advertising</li>
                                <li>Sales &amp; Marketing Collateral</li>
                                <li>Photography</li>
                                <li>Environments</li>
                                <li>Film</li>
                                <li>CGIs</li>
                                <li>Animations</li>
                                <li>VR</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-12 text-center mb-3 mb-lg-5">
                            <h4 class="text-uppercase">Our Clients</h4>
                        </div>
                        {% for list in site.data.overlay_carousel.clients_list %}
                            <div class="col-lg-4 px-md-4 px-xl-5">
                                <ul class="list-unstyled text-center text-lg-left clients-list">
                                    {% for client in list.clients %}
                                        <li>
                                            {% if client.website %}
                                                <a href="{{ client.website }}" target="_blank" rel="noopener">
                                                    {{ client.name }}
                                                </a>
                                            {% else %}
                                                {{ client.name }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>