body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica ,Arial, sans-serif;
}



/**
 * Nav
 */
nav .site-title {
    font-family: 'Noto Serif', serif;
    display: inline;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    z-index: 998;
}

nav .button {
    display: inline;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 999;
    font-size: 30px;
}

#btn-menu {
    color: #f8f9fa;
}



/**
 * Main carousel
 */
#mainCarousel .carousel-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    filter: opacity(0.85);
}

#mainCarousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    color: #212F3C;
    background-color: rgba(248, 249, 250, 0.7);
}



/**
 * Overlay carousel
 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
    overflow: auto;
    z-index: 99;
}

.overlay > .container-fluid {
    padding-top: 10rem; /* @todo Should vary based on orientation */
}

#overlayCarousel .carousel-item {
    background-color: #111;
}

/*#overlayCarousel .carousel-item > .row {
    padding-top: 150px;
}*/

#overlayCarousel .carousel-indicators > li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid white;
    background-color: transparent;
    background-clip: unset;
    opacity: 1;
}

#overlayCarousel .carousel-indicators > li.active {
    background-color: white;
}

.clients-list {
    margin-bottom: 0;
}

.services-list li, .clients-list li {
    margin-bottom: 0.25rem;
}



@media (min-width: 992px) {
    nav .site-title {
        left: 3rem;
    }

    nav .button {
        right: 3rem;
    }
}