body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica ,Arial, sans-serif;
}



/**
 * Nav
 */
nav .site-title {
    font-family: 'Noto Serif', serif;
    display: inline;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    z-index: 998;
}

nav .button {
    display: inline;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 999;
    font-size: 30px;
}

#btn-menu {
    color: #f8f9fa;
}



/**
 * Main carousel
 */
#mainCarousel .carousel-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    filter: opacity(0.85);
}

#mainCarousel .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left;
    color: #212F3C;
    background-color: rgba(248, 249, 250, 0.7);
}



/**
 * Overlay carousel
 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
    z-index: 99;
}

#overlayCarousel {
    padding-top: 8rem;
}

#overlayCarousel .carousel-item {
    background-color: #111;
    height: calc(100vh - 8rem);
}

#overlayCarousel .carousel-item .row {
    height: calc(100vh - 8rem - 66px);
    overflow-y: auto;
}

#overlayCarousel .carousel-indicators > li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid white;
    background-color: transparent;
    background-clip: unset;
    opacity: 1;
}

#overlayCarousel .carousel-indicators > li.active {
    background-color: white;
}

.contact-email-address {
    word-break: break-all;
}

.clients-list {
    margin-bottom: 0;
}

.services-list li, .clients-list li {
    margin-bottom: 0.25rem;
}

.clients-list a {
    text-decoration: none;
    color: #f8f9fa;
}

.clients-list a:hover {
    color: #cbd3da;
}



@media screen and (max-width: 768px) and (orientation: landscape) {
    #overlayCarousel {
        padding-top: 6rem;
    }
}

@media screen and (min-width: 992px) {
    nav .site-title {
        left: 3rem;
    }

    nav .button {
        right: 3rem;
    }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    #overlayCarousel {
        padding-top: 6rem;
    }

    #overlayCarousel .carousel-item {
        height: calc(100vh - 6rem) !important;
    }

    #overlayCarousel .carousel-item .row {
        height: calc(100vh - 6rem - 66px);
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    #overlayCarousel .carousel-item:nth-child(2) .row {
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    #overlayCarousel .carousel-item:nth-child(2) .row {
        height: auto;
    }
}